spring.datasource.url=jdbc:postgresql://TU_HOST_NEON/neondb?sslmode=require&channelBinding=require
spring.datasource.username=TU_USUARIO
spring.datasource.password=TU_PASSWORD
spring.datasource.driver-class-name=org.postgresql.Driver